<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>給我報報線上說明</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <style>
       #MainDiv button {
           margin:3px;
       }
    </style>  
</head>
<body>
    <div class="row">		
        <div id="MainDiv" class="col-md-6" style="margin:5px">
			<font size="4">
                 1. 預先開啟手機 GPS 及 藍牙設備<br> 
                 2. 第一次用戶請點選<註冊連結> <br>(已經註冊過則省略)<br>
                    -> 設定 LineNotify 連動 <br>
                    -> 名字註冊用本名，容易辨識 <br>
                    -> 可以更換照片(不想用原本照片) <br>                                                            
                 3. 如何知道自己報到成功?<br>
                    -> 自動收到 LineNotify 報到成功通知<br>
                    -> 點選<報到查詢><br>
                 4. 如果報到未成功如何處理?<br>
                    -> 嘗試把藍牙關閉後再打開<br>
                    -> 還是未解決則點選<疑難排解>是否為手機其他設定問題<br>                  	
         </font>
        </div>
    </div>
</body>
</html>
